﻿@using ENG.WMOCodes.Codes;
@{
    List<Metar> listMetar = (List<Metar>)ViewBag.ListMetar;
    string runwayVisibility = "";
}
    <div class="row">
        @foreach (var metar in listMetar)
        {
            runwayVisibility = "";
        <div class="col-12">
            <div class="card mb-4">
                <h5 class="card-header" style="font-size: 14px;">@metar.MetarCode</h5>
                <div class="card-body">
                    <div>
                        <span style="font-weight: bold; font-size: 14px;">Type: </span>
                        <span style="font-size: 14px;" class="card-text"> @metar.Type</span>
                    </div>
                    <div>
                        <span style="font-weight: bold; font-size: 14px;">Date: </span>
                        <span style="font-size: 14px;" class="card-text"><span style="text-decoration: underline;">Day:</span> @metar.Date.Day <span style="text-decoration: underline;">Hour:</span> @metar.Date.Hour:@metar.Date.Minute</span>
                    </div>
                    <div>
                        <span style="font-weight: bold; font-size: 14px;">Correct: </span>
                        <span style="font-size: 14px;" class="card-text"> @(metar.IsCorrected ? "Yes" : "No" )</span>
                    </div>
                    <div>
                        <span style="font-weight: bold; font-size: 14px;">ICAO: </span>
                        <span style="font-size: 14px;" class="card-text"> @(metar.ICAO)</span>
                    </div>
                    <div>
                        <span style="font-weight: bold; font-size: 14px;">Visibility: </span>
                        <span style="font-size: 14px;" class="card-text"> <span style="text-decoration: underline;">Distance:</span> @(metar.Visibility.Distance) - <span style="text-decoration: underline;">Unit:</span> @metar.Visibility.DistanceUnit - <span style="text-decoration: underline;">Is Clear:</span> @(metar.Visibility.IsClear ? "Yes" : "No")</span>
                    </div>
                    <div>
                        <span style="font-weight: bold; font-size: 14px;">Runway Visibility: </span>
                        @foreach (var runway in metar.Visibility.Runways)
                        {
                            <span style="font-size: 14px;" class="card-text"> <span style='text-decoration: underline;'>Distance:</span> @runway.Distance / <span style='text-decoration: underline;'>Runway:</span> @runway.Runway / <span style='text-decoration: underline;'>Tendency:</span> @runway.Tendency / <span style='text-decoration: underline;'>Unit:</span> @runway.Unit | </span>
                        }
                    </div>

                    <div>
                        <span style="font-weight: bold; font-size: 14px;">Phenomens: </span>
                        @if (metar.Phenomens != null)
                        {
                            foreach (var phenomen in metar.Phenomens)
                            {
                                foreach (var item in phenomen)
                                {
                                    <span style="font-size: 14px;" class="card-text">@item </span>
                                }
                            }
                        }
                    </div>
                    <div>
                        <span style="font-weight: bold; font-size: 14px;">Clouds: </span>
                        @if (metar.Clouds != null)
                        {
                            foreach (var cloud in metar.Clouds)
                            {
                                <span style="font-size: 14px;" class="card-text"><span style="text-decoration: underline;">Altitude:</span> @cloud.Altitude <span style="text-decoration: underline;">Type:</span> @cloud.Type <span style="text-decoration: underline;">Is CB:</span>  @(cloud.IsCB ? "Yes":"No") <span style="text-decoration: underline;">Is TCU:</span> @(cloud.IsTCU ? "Yes":"No") | </span>
                            }
                        }
                    </div>
                    <div>
                        <span style="font-weight: bold; font-size: 14px;">Wind: </span>
                        @if (metar.Wind != null)
                        {
                    <span style="font-size: 14px;" class="card-text"><span style="text-decoration: underline;">Direction:</span> @metar.Wind.Direction <span style="text-decoration: underline;">Speed:</span> @metar.Wind.Speed <span style="text-decoration: underline;">Is Variable:</span> @(metar.Wind.IsVariable ? "Yes" : "No") <span style="text-decoration: underline;">Is Varying:</span> @(metar.Wind.IsVarying ? "Yes" : "No") <span style="text-decoration: underline;">Is Calm:</span> @(metar.Wind.IsCalm ? "Yes" : "No") </span>
                        }
                    </div>
                    <div>
                        <span style="font-weight: bold; font-size: 14px;">Temperature: </span>
                        <span style="font-size: 14px;" class="card-text">@metar.Temperature</span>
                    </div>
                    <div>
                        <span style="font-weight: bold; font-size: 14px;">Humidity: </span>
                        <span style="font-size: 14px;" class="card-text">@metar.Humidity</span>
                    </div>
                    <div>
                        <span style="font-weight: bold; font-size: 14px;">Dew Point: </span>
                        <span style="font-size: 14px;" class="card-text">@metar.DewPoint</span>
                    </div>
                    <div>
                        <span style="font-weight: bold; font-size: 14px;">Pressure: </span>
                        @if (metar.Pressure != null)
                        {
                            <span style="font-size: 14px;" class="card-text"><span style="text-decoration: underline;">Value:</span> @metar.Pressure.Value <span style="text-decoration: underline;">Unit:</span> @metar.Pressure.Unit <span style="text-decoration: underline;">QNH:</span> @metar.Pressure.QNH <span style="text-decoration: underline;">mmHq:</span> @metar.Pressure.mmHq</span>
                        }
                    </div>
                </div>
            </div>
        </div>
        }
    </div>
